html{
    /* width: 100vh; */
}
body{
    margin: 0;
    padding: 0;
    background-color: #dee0e0 ;
    overflow-x: hidden; 
}
/* header */
header{
    overflow: hidden;
}
#navbar-header{
    margin-bottom: -75px;
    margin-top: -10px;
    margin-left: -20px;
  
}
#header-nav{
    display: flex;
}
#header-nav li{
    font-size: 32px;
    list-style: none;
    display: inline;
    margin: 58px 30px 61px 30px;
}
#header-nav a{
    text-decoration: none;
    color: black;
}
.main-picture-carousel{
    height: 800px;
} 
#scroll-carousel{
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
   
}
#first-element {
    margin-left: -250px;
    /* max-height: 300px; */
    
}
#navbar-menu{
    position: relative;
    left: calc(100% - 470px);
    top: -85px;
}
#menu-nav{
    display: flex;
    background-color: #080b42;
    width: 25%;
    border-top-left-radius: 35%;
}
#menu-nav li{
    font-size: 20px;
    list-style: none;
    display: inline;
    margin: 10px;
    /* padding: 15px; */
    /* margin-top: 20px; */
}
#menu-nav li a{
    color: white;
    text-decoration: none;
}
/* corps de page */
/* section The most popular */
#title-most-popular{
    /* padding-left: 50px; */
}
.product-list{
    display: flex;
    justify-content: space-around;
    background-color: #e8e9ef;
    margin-left: 150px;
    padding-bottom: 50px;
}
#shop{
    /* display: flex; */
    justify-content: space-around;
    padding-left: 250px;
}
/*position relative afin de mettre les enfants de l'element en position absolute de cet element*/
.product{
    position: relative;
    display: inline-block; 
    background-color: white;
    margin: 20px;
    /* flex-wrap: wrap; */
    
}
.product-price{
    position: absolute;
    top: 1em;
    right: 1em;
}
/* section Featured news */
.featured-news{
    background-color: black;
    padding: 55px 5px;
}

.title-news{
    color: white;
   
}
#container{
    display: flex;
    padding-left: 15px;
}
#container-new1{
    width: 75%;
    
}
#img-new1{
    /* width: calc(100% + 2); */
    max-width: 910px;
    
}
#img-new2, #img-new3{
    max-width: 100%;
}
/* j'établie la largeur des elements en prenant en compte une marge de 3 et 5 em */
.elements-gallery2{
    width: calc((100% / 3) - (3em - 5em / 3));
}

#gallery1, #gallery2{
    display: flex;
    /* justify-content: space-around; */
 
}
.article-news{
    background-color: #080b42;
    min-width: 445px;
    margin: 0 15px;
}

/* section popular brands */
.logo-brand{
    display: flex;
    justify-content: space-around;
}

/* section our reviews */
.list-article{
    display: flex;
}
.article{
    position: relative;
    background-color: white;
    border-radius: 3%;
    margin: 10px;
}
.article img{
    margin-top: 30px;
}
.article p{
    padding: 35px 75px 0 15px;
}
.author-article{
    padding-left: 15px;
    margin-top: 125px;

}
.article a{
    color: red;
    position: absolute;
    right: 3em;
    bottom: 3em;
}
.list-article :first-child{
    background-color: black;
    color: white;
}
/* footer */
footer{
    background-color: black;
}
footer img{
    max-width: 100%;
}
