body{
    margin: 5px;
    padding: 5px;
    background-color: #f6f5f5;
    /* width: 100%; */
}
header{
    background-color: #dee0e0 ;
    width: 100%;
    overflow: hidden;
}

#header-nav{
    display: flex;
    /* align-items: center; */
}
#header-nav li{
    font-size: 32px;
    list-style: none;
    display: inline;
    padding: 25px;
    margin-top: 30px;
}
#header-nav a{
    text-decoration: none;
    color: black;
}

#scroll-carousel{
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
    /* margin: 0 150px; */
}
#scroll-carousel a:first-child{
    margin-left: -350px;
}

.the-most-popular{
    display: flex;
    justify-content: space-around;
}
.logo-brand img{
    max-height: 180px;
    max-width: 180px;
}

/*position relative afin de mettre les enfants de l'element en position absolute de cet element*/
.product{
    display: inline-block; 
    position: relative;
    background-color: white;
    margin: 20px;
    flex-wrap: wrap;
    
}
.product-price{
    position: absolute;
    top: 1em;
    right: 1em;
}
.featured-news{
    background-color: black;
    padding: 55px 0;
}

.featured-news h2{
    color: white;
    height: 200px;
    width: 25%;
 }
#container{
    display: flex;
    max-width: 100%;
}
#container-new1{
    width: 75%;
}
#gallery1, #gallery2{
    justify-content: center;
    display: flex;
    width: 100%;
}

.article-news{
    width: 25%;
    border: solid 2px white;
    margin: 0 15px;
  
}
.list-article{
    display: flex;
}
.article{
    position: relative;
    background-color: white;
    border-radius: 3%;
    margin: 10px;
}
.article img{
    margin-top: 30px;
}
.article p{
    padding: 35px 75px 0 15px;
}
.author-article{
    padding-left: 15px;
    margin-top: 125px;

}
.article a{
    color: red;
    position: absolute;
    right: 3em;
    bottom: 3em;
}
footer{
    background-color: black;
}
footer img{
    max-width: 100%;
}